.search {
  border-radius: 4px;
  background: var(--search-background);

  &-content {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 7px 12px 7px 20px;

    &__input {
      all: unset;

      font-family: Poppins, sans-serif;
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: var(--black-text);

      min-width: 175px;
      max-width: 225px;
      width: 100%;
    }

    &__icon {
      .icon-search {
        font-size: 1.6rem;
      }
    }
  }
}

